<div>
  
    <div class="Username">
      <input
        type="text"
        name="Username"
        class="inputtext"
        id=""
        placeholder="Enter your name"
        #name
      />
    </div>

    <div class="con" *ngFor="let Qtn of Q; let i = index">
      <p class="question">{{ Qtn.q }}</p>
      <div class="container" *ngFor="let op of Qtn.op">
        <label for="q1"
          >{{ op.op }}
          <input
            class="option"
            type="radio"
            class="options"
            name="{{ i }}"
            value="{{ op.answer }}"
          />
        </label>
      </div>
      <hr />
    </div>

    <button class="btn btn-primary" (click)="Onanswersubmit()">Submit</button>
    <button class="btn btn-danger" (click)="Onclear()">Clear</button>
  
</div>
