p{
    text-align: center;
}

.bluecolor{
    color: white;
}

button{
    display: flex;
    margin: auto;
}

.Head{
    margin: auto;
    width: 60%;
    background-color: rgb(224 224 224);
    border: 2px solid rgb(175 175 175);
    border-radius: 8px;
    padding: 20px;
    font-size: 28px;
}

.even{
    display: grid;
    grid-template-columns: 50%;  
}
.odd{
    display: grid;
    grid-template-columns: 50%;  
}
